<center><h1>Analyse de données avec la bibliothèque Pandas</h1></center>
<center><h1>Les Séries</h1></center>
<hr>

# Introduction

Pandas est une librairie open-source basée sur NumPy fournissant des structures de données facile à manipuler, et des outils d’analyse de données. Deux structures sont offertes par cette bibliothèque: 

* <b>Série : </b>  tableaux à une dimension de données indexées. 
* <b>Dataframe : </b> tableau à deux dimensions indexées en ligne et en colonne

## Création de Série

In [1]:
import pandas as pd
import numpy as np
s = pd.Series([12,4,np.nan,-5,8.5])
s

0    12.0
1     4.0
2     NaN
3    -5.0
4     8.5
dtype: float64

In [2]:
s.values

array([12. ,  4. ,  nan, -5. ,  8.5])

In [3]:
s.index

RangeIndex(start=0, stop=5, step=1)

### Série indexé

In [5]:
s = pd.Series([12,4,np.nan,-5,8.5],index=["a","b","c","d","e"])
s

a    12.0
b     4.0
c     NaN
d    -5.0
e     8.5
dtype: float64

In [6]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### Série à partir d'un tableau

In [3]:
import numpy as np
import pandas as pd
tab = np.arange(1,20,3,dtype = np.int8)
s = pd.Series(tab)
s

0     1
1     4
2     7
3    10
4    13
5    16
6    19
dtype: int8

In [ ]:
kasserine = {}